.-demo {
    padding: 20px;
  
  }
  .-purple {
    height: 100px;
    background-color: purple;
  }
  
  .-green {
    height: 100px;
    background-color: green;
  }
  
  .-blue {
    height: 100px;
    background-color: blue;
  }
  